# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
dist/
build/
*.whl

# Environment variables
.env
*.env

# VSCode
.vscode/
*.code-workspace

# MacOS
.DS_Store

# Windows
Thumbs.db

.cursor/
